<% provide(:title, "About") %>
<h1>About me</h1>
<p>
	I'm currently a lead software engineer in the insurance industry. I'm passionate about building really effective engineering teams and getting the most out of team dynamics. I absolutely love the people part of my job.
</p>
<p>
  Outside of the tech world, I love reading, playing and listening to music, and gaming.
</p>
<p>
  I'm not super active in social communities, but you can find me on <a href="https://twitter.com/NickSHunter">Twitter</a> and <a href="https://www.linkedin.com/in/nicholas-hunter-01307959/">LinkedIn</a>
</p>


                            