<%= provide(:title, 'contact') %>
<h1>Contact me</h1>
<p>
	email: nickshunter@outlook.com
</p>
<p>
  <a href="https://www.linkedin.com/in/nicholas-hunter-01307959/">LinkedIn</a>
</p>
<p>
  <a href="https://twitter.com/NickSHunter">Twitter</a>
</p>