<%= provide(:title, 'projects') %>
<h1>Projects coming soon!</h1>
<p>
  You can see some of my work on my <a href="https://github.com/hunter497">Github</a>. Will continue to work through some of my current projects and I'll release them here when I have something worth showing.
</p>